benchmark/submissions
/benchmark/submissions

*/submissions
*/submissions/


benchmark/data
/benchmark/data

*/data
*/data/
benchmark/data
/benchmark/data

benchmark/multirun
/benchmark/multirun
*/multirun
*/multirun/
